#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    volume_step: 5,
    max_fps: 30,
    enable_mouse: true,
    album_art: (
        method: Auto,
        max_size_px: (width: 1200, height: 1200),
    ),
    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (size: "35%", pane: Split(
                        direction: Vertical,
                        panes: [
                            (size: "100%", scrollbar: false, pane: Pane(AlbumArt)),
                            (size: "7", scrollbar: false, pane: Pane(Lyrics)),
                        ],
                    )),
                    (size: "65%", scrollbar: false, pane: Pane(Queue)),
                ],
            ),
        ),
        (name: "Directories", scrollbar: false, pane: Pane(Directories)),
        (name: "Artists", scrollbar: false, pane: Pane(Artists)),
        (name: "Albums", scrollbar: false, pane: Pane(Albums)),
        (name: "Playlists", scrollbar: false, pane: Pane(Playlists)),
        (name: "Search", scrollbar: false, pane: Pane(Search)),
    ],
)
